
@{
    ViewBag.Title = "Index";
}
<script src="~/scripts/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#btn").on('click', function () {
            //1.
            var order = {
                CustomerName:'MS'
            };
            //2.
            var itemDetails = [
                { ItemName: 'Desktop', Quantity: 10, UnitPrice: 45000 },
                { ItemName: 'Laptop', Quantity: 30, UnitPrice: 80000 },
                { ItemName: 'Router', Quantity: 50, UnitPrice: 5000 }
            ];
            //3.
            $.ajax({
                url: '/api/OrderAPI',
                type: 'POST',
                //4.
                data: {
                    order: order,
                    itemDetails: itemDetails
                },
                ContentType: 'application/json;utf-8',
                datatype:'json'
            }).done(function (resp) {
                alert("Successful " + resp);
            }).error(function (err) {
                alert("Error " + err.status);

            });

        });

    });
</script>


<h2>Index</h2>

<input type="button" id="btn" value="Save" />
